html {
    scroll-behavior: smooth;
}

.column1 {
    margin-left: 5%;
    float: center;
    width: 90%;
}

.column2 {
    margin: 0 auto;
    float: center;
    width: 90%;
}

ul{
    width: 100%;
    top: 10px;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: rgb(49, 55, 68);
}

li{
    display: inline;
    
}

li a{
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

li a:hover{
    background-color: rgb(255, 0, 0);
}

.active{
background-color: brown;
}


.upcomming{
    max-width: 60%;
    height: auto;
}

.heading{
    font-size: 25px;
    padding-left: 20px;
    font-weight: bold;
}

img {
    max-width: 40%;
    padding-left: 2.5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.uparrow{
    width: 100px;
    height: auto;
}

.scrollup{
    right: 30px;
    bottom: 30px;
    position: fixed;
}